{
    "config_root": "alicia-files",
    "federated_only": true,
    "checksum_public_address": "0x2546052Faa9640e720E1bA44CA61e132CC311C54",
    "keyring_dir": "alicia-files/keyring",
    "domains": [
        "GLOBAL_DOMAIN"
    ],
    "learn_on_same_thread": true,
    "abort_on_learning_error": false,
    "start_learning_now": false,
    "save_metadata": true,
    "node_storage": {
        "storage_type": "local",
        "storage_root": "alicia-files/known_nodes",
        "metadata_dir": "alicia-files/known_nodes/metadata",
        "certificates_dir": "alicia-files/known_nodes/certificates"
    }
}